body.blueBody {background-color:#b0c4de;padding-bottom: 50px;}
h1 {background-color:red;text-align: center;}
p.blueP {background-color:#e0ffff;}
div.blueDiv {background-color:#b0c4de;}
div.greenDiv{
    background-color: green; 
    padding-top: 50px; 
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 50px;
    text-align: center;
    margin: 50px;
    font-size: 32px;
}
div.centerDiv{
    background-color: hotpink;
    justify-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 150px;
    margin-bottom: 150px;
}